html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	outline: none;
}

a, a:hover, a:focus, a:active, a:visited {
	outline: none;
}

html {
	text-size-adjust: 100%;
}

body {
	background-color: $color-bg;
	
	@include font-size(14);
	font-family: $font-base;
	color: $color-text;

	
	&.noscroll {
		overflow: hidden;
	}

	&.noscroll-x {
		overflow-x: hidden;
	}
}

/* 

########   ##    ##   ########    #######   
   ##       ##  ##    ##     ##  ##     ##  
   ##        ####     ##     ##  ##     ##  
   ##         ##      ########   ##     ##  
   ##         ##      ##         ##     ##  
   ##         ##      ##         ##     ##  
   ##         ##      ##          #######   

 */
.texte_presentation {

	color: #585858;
	@include font-size(18);	
    line-height: 1.4em;
    letter-spacing: 0.11em;
    padding-top:30px;

}

.editor-text {
	color: $color-text;

	p {
		line-height: 1.3;
		margin-bottom: 1.5em;

	}

	a {
		color: $color-link;
		display: inline-block;
		border-bottom: 1px solid $color-link;

		transition:
			color 0.2s ease-in-out,
			border-color 0.2s ease-in-out;

		.no-touch & {
			&:hover, &:focus {
				color: lighten($color-link, 10%);
				border-color: lighten($color-link, 10%);
			}
		}
	}

	h1 {
		margin-bottom: 1.5em;
		font-family: $font-alt;
		text-transform: uppercase;
		@include font-size(20);
		font-weight: 700;
	}

	h2 {
		margin-bottom: 1.5em;
		font-family: $font-alt;
		@include font-size(16);
	}

	h3 {
		margin-bottom: 1em;
		font-weight: 600;
	}

	h4 {

	}
}

.texte {
			@include font-size(15);
			color:black;
			text-align: center;
			padding: 0 10px 50px;
			color:#737373;
			line-height:1.5;
	}

p.texte_2 {
			@include font-size(15);
			color:black;
			text-align: left;
			padding: 0 0 31px;
			color:#737373;
			line-height:1.5;
	
	@include mq($from: mobileLandscape, $until: tablet) {
        
        max-width: 360px;
	    margin: 0 auto;
	    text-align: center;

    	}

	}

p.texte_3 {
			@include font-size(15);
			color:black;
			text-align: left;
			padding: 0 0 15px;
			color:#737373;
			line-height:1.2;
	
	@include mq($from: mobileLandscape, $until: tablet) {
        
        max-width: 360px;
	    margin: 0 auto;
	    text-align: center;

    	}

	}

.title-span {
	@include mq($until: mobileLandscape) {
		display: block;
	}
}

/* 
########   ####  ########   ##         ########    ######    
   ##       ##      ##      ##         ##         ##    ##   
   ##       ##      ##      ##         ##         ##         
   ##       ##      ##      ##         ######      ######    
   ##       ##      ##      ##         ##               ##   
   ##       ##      ##      ##         ##         ##    ##   
   ##      ####     ##      ########   ########    ######    
*/

.title-dev {
	@include mq($until: tablet) {
		text-align:center;
	}

	text-decoration:underline;
}

.title-lev1 {
	font-family: Proxima Nova,serif;
    color: #000;
    @include font-size(34);

    // text-align:center;
    padding: 116px 0 117px 0;

    text-transform:uppercase;
}

.title-lev2 {
	text-transform: uppercase;
	font-family: Proxima Nova,serif;
	color: $color-default;
	padding:38px 0px 16px;
	@include font-size(19);
	line-height:1.3;

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

.title-lev3 {
	text-transform: uppercase;
	font-family: Proxima Nova,serif;
	color: $color-default;
	padding:38px 0px 0px;
	@include font-size(15);
	line-height:1;

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

.title-lev4 {
	text-transform: uppercase;
	font-family: Proxima Nova,serif;
	color: $color-default;
	// padding:10px 0px 0px;
	@include font-size(15);
	line-height:1;

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

/* 
##     ##  ########      ###     ########   ########   ########   
##     ##  ##           ## ##    ##     ##  ##         ##     ##  
##     ##  ##          ##   ##   ##     ##  ##         ##     ##  
#########  ######     ##     ##  ##     ##  ######     ########   
##     ##  ##         #########  ##     ##  ##         ##   ##    
##     ##  ##         ##     ##  ##     ##  ##         ##    ##   
##     ##  ########   ##     ##  ########   ########   ##     ##  
*/

.header-content{
	
    // background-size: cover;
    width: 100%;
    background-position: center center;
    height: 870px;
    background-repeat:no-repeat;
    

	// @media only screen and (min-width: 650px) and (max-device-width: 768px) {
	//     background-position: 0 -124px;
	// }

	@include mq($until: mobile) {
         background-image: url(../images/header/header_320.jpg);
         max-height:870px;
    }

	@include mq($from: mobile, $until: mobileLandscape) {
         background-image: url(../images/header/header_320.jpg);
         max-height:870px;
    }

	@include mq($from: mobileLandscape, $until: tablet) {
         background-image: url(../images/header/header_480.jpg);
         max-height:870px;
    }

    @include mq($from: tablet, $until: desktop) {
         background-image: url(../images/header/header_768.jpg);
         max-height:870px;
    }

    @include mq($from: desktop, $until: wide) {
         background-image: url(../images/header/header_1024.jpg);
         max-height:870px;
    }

	@include mq($from: wide, $until: xwide) {
         background-image: url(../images/header/header_1400.jpg);
         max-height:870px;
    }

    @include mq($from: xwide) {
         background-image: url(../images/header/header_1600.jpg);
         max-height:870px;
         max-width: 1600px;
    }

}



.header-title {
	text-align: center;
    font-family: Proxima Nova,serif;
    color: #fff;

    text-transform: uppercase;
    letter-spacing: 0.2em;
	
	@include font-size(65);

	 //text-shadow: 2px 2px 2px rgba(0,0,0,.3);

	 @include mq($until: tablet) {
        @include font-size(55);
    }

}

.row {
	// background-color: red;
}

[class^="col"] {
	// background-color: yellow;
}

.item {
	background-color: purple;
	padding: 0px;
	color: #fff;
}

.nav-main {
	
	@include mq($until: tablet) {
		
	}

	@include mq($from: tablet) {
		
	}
}

/* 
##     ##     ###     ####  ##    ##   
###   ###    ## ##     ##   ###   ##   
#### ####   ##   ##    ##   ####  ##   
## ### ##  ##     ##   ##   ## ## ##   
##     ##  #########   ##   ##  ####   
##     ##  ##     ##   ##   ##   ###   
##     ##  ##     ##  ####  ##    ##   
*/

.clear {

	clear: both;
  	height: 0; overflow: hidden; /* Précaution pour IE 7 */

}


.center-824-max {
    max-width: 824px;
    margin: 0 auto;
    padding: 0 10px;
}

.center-824-max:after {
    clear:both;
}


.center-786-max {
    max-width: 786px;
    margin: 0 auto;
    padding: 0 10px;
}

.padding-add {

	 padding: 15px 10px;

}

.center-786-max:after {
    clear:both;
}


.center-max-phrase {

	margin: 0 auto;
    padding: 0 10px;
    
    @include mq($until: mobileLandscape) {
		max-width: 399px;
	}

	@include mq($from: tablet) {
		max-width: 600px;
	}

}


.screen {

	//max-width:494px;

}

.img-screen {

	// background-repeat: no-repeat;
 //    background-image: url(../images/screen.png);

	max-width: 464px;
	max-height: 329px;

	width:100%;
    height:auto;

}

.img-tablet {

	// background-repeat: no-repeat;
 //    background-image: url(../images/tablet.png);

    // width:360px;

	max-width: 169px;
	max-height: 213px;

	width:100%;
    height:auto;

	@include mq($from: tablet) {

		width:100%;

    }

    @include mq($until: tablet) {

		width:50%;

    }
	
}

.img-mobile {

	// background-repeat: no-repeat;
 //    background-image: url(../images/smartphone.png);

    max-width: 169px;
	max-height: 85px;

    height:auto;

    @include mq($from: tablet) {

		width:100%;

    }

    @include mq($until: tablet) {

		width:50%;

    }

}

.competences {

		position:relative;

		background-repeat:no-repeat;
		background-position: center top;
		background-size: 100% auto;
		@include transition(1s, ease-in-out);

		// -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate; /* Chrome, Safari, Opera */
	    -webkit-animation: bubble 2s linear infinite, 4s ease-in-out;  

		&:hover {

			cursor:pointer;
			 @include translate(3em, 10em);
			 transform: scale(1.012);
			 z-index:100

		}


	    @include mq($until: tablet) {

			width:100%;
			height:100%;

	    }

}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bubble {
    0%   {top:0px;}
    50%  {top:70px;}
    100% {top:0px;}
}

/* Standard syntax */
@keyframes bubble {
    0%   {top:0px;}
    12.5%   {top:1px;}
    25%   {top:2px;}
    37.5%   {top:3px;}
    50%  {top:4px;}
    67.5%   {top:3px;}
    75%   {top:2px;}
    87,5%   {top:1px;}
    100% {top:0px;}
}

@include mq($from: tablet) {

	.competences-web {

		position:relative;
		height:708px;

	}

	.competences-crea {
		
		position:relative;
		margin-top:300px;
		height:595px;

	}

}

.col-angular {

    @include mq($from: tablet) {

		height: 12%;
    	width: 43%;
		margin-left: 32%;
		opacity: 0.95;

	}


	.angular {

		background-image: url(../images/competences/web/angular.png);

		max-height:208px;
		max-width:205px;

		@include mq($from: tablet) {

			 	height:208px;
				width:205px;
				margin-top: 100px;
				opacity:0.95;
				z-index:100;


		}


		&:hover {

			background-image: url(../images/competences/web/hover/angular_hover.png);
			
		}

	}


}

.col-git {

	@include mq($from: tablet) {

		width:10%;

	}


	.git {


	background-image: url(../images/competences/web/git.png);

		max-height:208px;
		max-width:205px;


		@include mq($from: tablet) {

			width:198px;
			height:196px;
			margin-top:20px;

		}


		&:hover {

			background-image: url(../images/competences/web/hover/git_hover.png);
			
		}

	}

}

.col-js {

	@include mq($from: tablet) {

		width:33%;

	}

	.js {

		-webkit-animation-delay: 2.5s;
	    animation-delay: 2.5s;

		background-image: url(../images/competences/web/js.png);

		max-height:369px;
		max-width:369px;


		@include mq($from: tablet) {

			 	height:369px;
				width:369px;
				opacity:0.95;
				z-index:0;

		}


		&:hover {

			background-image: url(../images/competences/web/hover/js_hover.png);
			
		}

	}

}

.col-css {

	@include mq($from: tablet) {

		width:26%;

	}

	.css {

		-webkit-animation-delay: 6s;
	    animation-delay: 6s;

		background-image: url(../images/competences/web/css.png);

		max-height:317px;
		max-width:317px;

		@include mq($from: tablet) {

			height:317px;
			width:317px;
			margin-top:190px;
			opacity:0.95;
			z-index:50;

		}

		&:hover {

			background-image: url(../images/competences/web/hover/css_hover.png);
			
		}

	}

}

.col-html {

	.html {

		background-image: url(../images/competences/web/html.png);

		max-height:308px;
		max-width:308px;

		-webkit-animation-delay: 1.5s;
	    animation-delay: 1.5s;

	    @include mq($from: tablet) {

			height:308px;
			width:308px;
			margin-top:110px;
			opacity:0.95;

		}

		&:hover {

			background-image: url(../images/competences/web/hover/html_hover.png);
			
		}

	}

}

@include mq($from: tablet) {

	.row-in {

		// margin-top:75px;
		margin-left:30px;

	}


	.row-ai {

		margin-top:85px;

	}

	.row-pe {

		// margin-top:45px;
		margin-left:90px;

	}

}

.col-in {

	position:relative;
	z-index:1;

	@include mq($from: tablet) {

   		width: 22%;

	}

	.in {

		background-image: url(../images/competences/crea/indesign.png);

		max-height:216px;
		max-width:216px;

		@include mq($from: tablet) {

			height:216px;
			width:216px;
			opacity:0.95;

		}

		&:hover {

			background-image: url(../images/competences/crea/hover/indesign_hover.png);
			
		}
	}

}

.col-ps {

	position:relative;
	z-index:4;

	@include mq($from: tablet) {

		width:53%;

	}

	.ps {

		
		background-image: url(../images/competences/crea/photoshop.png);

		max-height:269px;
		max-width:269px;

		@include mq($from: tablet) {

			margin-top:30px;

			height:269px;
			width:269px;
			opacity:0.95;

		}

		&:hover {

			background-image: url(../images/competences/crea/hover/photoshop_hover.png);
			
		}

	}

}

.col-ai {

	position:relative;
	z-index:5;

	@include mq($from: tablet) {

    	width: 26%;

	}

	.ai {

		background-image: url(../images/competences/crea/illustrator.png);

		max-height:269px;
		max-width:269px;

		@include mq($from: tablet) {

			height:269px;
			width:269px;
			opacity:0.95;

			margin-top:-185px;

		}

		&:hover {

			background-image: url(../images/competences/crea/hover/illustrator_hover.png);
			
		}

	}

}

.col-ae {

	position:relative;
	z-index:3;

	@include mq($from: tablet) {

		width:56%;

	}

	.ae {

		background-image: url(../images/competences/crea/aftereffects.png);

		max-height:243px;
		max-width:243px;
		

		@include mq($from: tablet) {

			height:243px;
			width:243px;
			opacity:0.95;

			margin-top:-25px;

		}

		&:hover {

			background-image: url(../images/competences/crea/hover/aftereffects_hover.png);
			
		}

	}

}

.col-pe {

	position:relative;
	z-index:2;

	@include mq($from: tablet) {

    	width: 21%;

	}

	.pe {

		background-image: url(../images/competences/crea/premiere.png);

		max-height:216px;
		max-width:216px;

		@include mq($from: tablet) {

			height:216px;
			width:216px;
			opacity:0.95;

			margin-top:-150px;

		}

		&:hover {

			background-image: url(../images/competences/crea/hover/premiere_hover.png);
			
		}

	}

}

.col-au {

	position:relative;
	z-index:1;

	@include mq($from: tablet) {

		width:30%;

	}

	.au {

		background-image: url(../images/competences/crea/audition.png);

		max-height:216px;
		max-width:216px;



		@include mq($from: tablet) {

			height:216px;
			width:216px;
			opacity:0.95;

			margin-top:-110px;

		}

		&:hover {

			background-image: url(../images/competences/crea/hover/audition_hover.png);
			
		}

	}

}

.img {

	display:block;

	@include mq($until: tablet) {
        background-position: center;
        margin:auto;
    }

}


.center-1200-max {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    display: block;
    max-width: 360px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    color: $color-default;
    font-weight: 500;
    // border-radius: 4px;
    transition: .4s ease-in-out;
    border: 2px solid $color-default;
    text-transform: uppercase;
    font-family: Proxima Nova,serif;
    @include font-size(15);
    line-height: 1.2;
}

.button:hover {
    background-color: $color-default-darken;
    color: #fff;
}

.pad {
	padding: 0 20px;
}

.center-column {

	@include mq($from: tablet) {
        margin-left:33.3%;
    }

}

.center-column-2 {

	@include mq($from: tablet) {
        margin-left:25%;
    }

}


/* 
 ######    ####  ########   ########   ########      ###     ########   
##    ##    ##   ##     ##  ##         ##     ##    ## ##    ##     ##  
##          ##   ##     ##  ##         ##     ##   ##   ##   ##     ##  
 ######     ##   ##     ##  ######     ########   ##     ##  ########   
      ##    ##   ##     ##  ##         ##     ##  #########  ##   ##    
##    ##    ##   ##     ##  ##         ##     ##  ##     ##  ##    ##   
 ######    ####  ########   ########   ########   ##     ##  ##     ##  
*/

/* 
##     ##  ########   ##    ##   ##     ##  
###   ###  ##         ###   ##   ##     ##  
#### ####  ##         ####  ##   ##     ##  
## ### ##  ######     ## ## ##   ##     ##  
##     ##  ##         ##  ####   ##     ##  
##     ##  ##         ##   ###   ##     ##  
##     ##  ########   ##    ##    #######   
 */

ul.ul-menu-desktop {

	li:nth-child(2), li:nth-child(3) {

		padding-left:33px;

	}

}

 .menu-desktop {

	font-family: Gotham;
    font-size: 14px;
    /* float: right; */
    top: 41px;
    width: 290px;
    text-align: right;
    right: 40px;
    position: absolute;

	@include mq($until: desktop) {

        display: none;

    }

    ul li {

		display: inline;

    }

 }

 .menu-mobile {

  @include mq($from: desktop) {
        
       display: none;
       
      }

}


/* 
########    #######    #######   ########   ########   ########   
##         ##     ##  ##     ##     ##      ##         ##     ##  
##         ##     ##  ##     ##     ##      ##         ##     ##  
######     ##     ##  ##     ##     ##      ######     ########   
##         ##     ##  ##     ##     ##      ##         ##   ##    
##         ##     ##  ##     ##     ##      ##         ##    ##   
##          #######    #######      ##      ########   ##     ##  
*/

.footer{
    height: 30px;
    width: 100%;
    padding-top:98px;
    background-color: #1f1f1f;
    margin-top:73px;
    text-align: center;

    @include font-size(15);
}

.link {

	color:$color-footer;

}