html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	outline: none;
}

a, a:hover, a:focus, a:active, a:visited {
	outline: none;
}

html {
	text-size-adjust: 100%;
}

body {
	background-color: $color-bg;
	
	@include font-size(14);
	font-family: $font-base;
	color: $color-text;

	&.noscroll {
		overflow: hidden;
	}

	&.noscroll-x {
		overflow-x: hidden;
	}
}

.height-100 {

	height:100%;

}


/* 

########   ##    ##   ########    #######   
   ##       ##  ##    ##     ##  ##     ##  
   ##        ####     ##     ##  ##     ##  
   ##         ##      ########   ##     ##  
   ##         ##      ##         ##     ##  
   ##         ##      ##         ##     ##  
   ##         ##      ##          #######   

 */

.texte_presentation {

 	font-family: "ProximaNovaLight", sans-serif;
	color: #585858;
	@include font-size(16);	
    line-height: 1.4em;
    letter-spacing: 0.11em;
    padding-top:30px;

}

.title-span {
	@include mq($until: mobileLandscape) {
		display: block;
	}
}

/* 
########   ####  ########   ##         ########    ######    
   ##       ##      ##      ##         ##         ##    ##   
   ##       ##      ##      ##         ##         ##         
   ##       ##      ##      ##         ######      ######    
   ##       ##      ##      ##         ##               ##   
   ##       ##      ##      ##         ##         ##    ##   
   ##      ####     ##      ########   ########    ######    
*/

.title-monsite {

	@include mq($until: tablet) {
		text-align:center;
	}

	padding: 50px 0 0;

}

.title-filet {

	@include mq($until: tablet) {
		margin:0 auto;
	}


    width: 150px;
    height: 1.2px;
    background-color: black;
    margin: 5px 10px 0px 0px;
}

.title-parcours-diplomes {

	@include mq($until: tablet) {
		text-align:center;
	}

}

.title-parcours-diplomes-nom {

	@include mq($until: tablet) {
		text-align:center;
	}

}

.title-lev1 {
	text-transform: uppercase;
	font-family: "ProximaNovaBold", sans-serif;
	color: #000;
	font-weight:100;
    @include font-size(28);

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

.title-lev2 {
	text-transform: uppercase;
	font-family: "ProximaNovaRegular", sans-serif;
	color: #000;

	@include font-size(20);
	line-height:2;

	&:first-line {

		line-height:1;

	}

	font-weight:300;

	@include mq($from: tablet) {
        display:inline-block;
    }

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

.title-lev3 {
	// font-family: ProximaNovaRegular,serif;
	font-family: "ProximaNovaRegular", sans-serif;
	color: #000;

	@include font-size(16);
	line-height:1.5;

	&:first-line {

		line-height:1;

	}

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

.title-lev4 {
	text-transform: uppercase;
	font-family: "ProximaNovaLight", sans-serif;
	color: $color-default;
	// padding:10px 0px 0px;
	@include font-size(15);
	line-height:1;

	@include mq($from: mobileLandscape, $until: tablet) {
        text-align: center;
    }

}

/* 
##     ##  ########      ###     ########   ########   ########   
##     ##  ##           ## ##    ##     ##  ##         ##     ##  
##     ##  ##          ##   ##   ##     ##  ##         ##     ##  
#########  ######     ##     ##  ##     ##  ######     ########   
##     ##  ##         #########  ##     ##  ##         ##   ##    
##     ##  ##         ##     ##  ##     ##  ##         ##    ##   
##     ##  ########   ##     ##  ########   ########   ##     ##  
*/

.header-content{
	
    // background-size: cover;
    width: 100%;
    height:100%;
    background-position: top center;
    background-repeat:no-repeat;

	@include mq($until: mobile) {
         background-image: url(../images/header/header_320.jpg);
         height:870px;
    }

	@include mq($from: mobile, $until: mobileLandscape) {
         background-image: url(../images/header/header_320.jpg);
         height:870px;
    }

	@include mq($from: mobileLandscape, $until: tablet) {
         background-image: url(../images/header/header_480.jpg);
         height:870px;
    }

    @include mq($from: tablet, $until: desktop) {
         background-image: url(../images/header/header_768.jpg);
         height:870px;
    }

    @include mq($from: desktop, $until: wide) {
         background-image: url(../images/header/header_1024.jpg);
         background-size: 100% auto;
         height:720px;
    }

	@include mq($from: wide, $until: xwide) {
         background-image: url(../images/header/header_1400.jpg);
         background-size: 100% auto;
         max-height:670px;
         height:570px;
    }

    @include mq($from: xwide) {
         background-image: url(../images/header/header_1600.jpg);
         background-size: 100% auto;
         max-height:670px;
         max-width: 1600px;
         height:470px;
    }

}



.header-title {
	text-align: center;
    font-family: "ProximaNovaRegular", sans-serif;
    color: #fff;

    text-transform: uppercase;
    letter-spacing: 0.2em;
	
	@include font-size(65);

	 @include mq($until: tablet) {
        @include font-size(55);
    }

}


[class^="col"] {
	// background-color: yellow;
}

.item {
	background-color: purple;
	padding: 0px;
	color: #fff;
}

.nav-main {
	
	@include mq($until: tablet) {
		
	}

	@include mq($from: tablet) {
		
	}
}

/* 
##     ##     ###     ####  ##    ##   
###   ###    ## ##     ##   ###   ##   
#### ####   ##   ##    ##   ####  ##   
## ### ##  ##     ##   ##   ## ## ##   
##     ##  #########   ##   ##  ####   
##     ##  ##     ##   ##   ##   ###   
##     ##  ##     ##  ####  ##    ##   
*/

.hidden {

	visibility:hidden;

}

.clear {

	clear: both;
  	height: 0; overflow: hidden; /* Précaution pour IE 7 */

}


.center-824-max {
    max-width: 824px;
    margin: 0 auto;
    padding: 0 10px;
}

.center-824-max:after {
    clear:both;
}


.center-786-max {
    max-width: 786px;
    margin: 0 auto;
    padding: 0 10px;
}

.center-800-max {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.padding-add {

	 padding: 15px 10px;

}

.center-786-max:after {
    clear:both;
}

.center-800-max:after {
    clear:both;
}

.center-max-phrase {

	margin: 0 auto;
    padding: 0 10px;
    
    @include mq($until: mobileLandscape) {
		max-width: 399px;
	}

	@include mq($from: tablet) {
		max-width: 600px;
	}

}

.img {

	display:block;

	@include mq($until: tablet) {
        background-position: center;
        margin:auto;
    }

}

.center-column {

	@include mq($from: tablet) {
        margin-left:33.3%;
    }

}

.center-column-2 {

	@include mq($from: tablet) {
        margin-left:25%;
    }

}


/* 
########    #######    #######   ########   ########   ########   
##         ##     ##  ##     ##     ##      ##         ##     ##  
##         ##     ##  ##     ##     ##      ##         ##     ##  
######     ##     ##  ##     ##     ##      ######     ########   
##         ##     ##  ##     ##     ##      ##         ##   ##    
##         ##     ##  ##     ##     ##      ##         ##    ##   
##          #######    #######      ##      ########   ##     ##  
*/

.footer{
    height: 200px;
    width: 100%;
    padding-top:15px;
    background-color: #1f1f1f;
    margin-top:73px;
    text-align: center;
    position:relative;

    @include font-size(15);

    .col-1-3 {
		
		@include mq($until: tablet) {
				
				width:33.3%
				

		}


    }

    .reseaux {

		background-repeat:no-repeat;
		
		@include mq($until:mobileLandscape){	

			background-size: 50% auto;

		}

		@include mq($from:mobileLandscape){

			background-size: 20% auto;
			
		}

		background-size: 50% auto;
		background-position:center center;
		width:100%;
		height:100%;

		&:hover {

			 @include transition(1s, ease-in-out);

		}

    }

    .linkedin {

		background-image: url('../images/footer/linkedin_v3.png');

		&:hover {

			background-image: url('../images/footer/hover/linkedin_hover.png');

		}

    }

	.github {

		background-image: url('../images/footer/github_v3.png');

		&:hover {

			background-image: url('../images/footer/hover/github_hover.png');

		}

    }

    .behance {

		background-image: url('../images/footer/behance_v3.png');

		&:hover {

			background-image: url('../images/footer/hover/behance_hover.png');

		}

    }

}



.link {

	color:$color-footer;

}