/** Proxima Nova **/
@font-face {
    font-family: "ProximaNovaLight";
    src: url(../fonts/ProximaNova-Light.otf);
    font-style: normal;
}
@font-face {
    font-family: "ProximaNovaRegular";
    src: url(../fonts/ProximaNova-Regular.otf);
    font-style: normal;
}
@font-face {
    font-family: "ProximaNovaSemibold";
    src: url(../fonts/ProximaNova-Semibold.otf);
    font-style: normal;
}
@font-face {
    font-family: "ProximaNovaBold";
    src: url(../fonts/ProximaNova-Bold.otf);
    font-style: normal;
}

/** Fonts - icons **/
@font-face {
    font-family: 'font-icons';
    src:url('../fonts/font-icons.eot');
    src:url('../fonts/font-icons.eot') format('embedded-opentype'),
        url('../fonts/font-icons.woff') format('woff'),
        url('../fonts/font-icons.ttf') format('truetype'),
        url('../fonts/font-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lined-icons';
    src:url('../fonts/lined-icons.eot');
    src:url('../fonts/lined-icons.eot') format('embedded-opentype'),
        url('../fonts/lined-icons.woff') format('woff'),
        url('../fonts/lined-icons.ttf') format('truetype'),
        url('../fonts/lined-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Simple-Line-Icons';
    src:url('../fonts/Simple-Line-Icons.eot');
    src:url('../fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Simple-Line-Icons.woff') format('woff'),
        url('../fonts/Simple-Line-Icons.ttf') format('truetype'),
        url('../fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


