.parcours {

	visibility:hidden;

}

.row-parcours {

		display: block;
		@include clearfix;
		margin: 10px;

		@include mq($from: tablet) {
			margin: 10px;
		}

		@include mq($from: desktop) {
			margin: 20px;
		}

		@include mq($from: wide) {
			margin: 20px;
		}

		&.add-vertical-padding {
			@include mq($until: tablet) {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

.col-parcours-filet {

	position:absolute;
	left:50%;
	
	.parcours-filet {

		width: 1.5px;
		background-color: black;
	    margin:5px 5px 5px 5px;

	    position:relative;
	    left:-50%;

		@include mq($from:desktop) {

		
	    	height: 620px;
	    

		}

		@include mq($from:tablet, $until:desktop) {

			height:500px;

		}

	}

}



.row-stage {

		display: block;
		@include clearfix;
		margin: 10px;

		@include mq($from: tablet) {
			margin: 10px;
		}

		@include mq($from: desktop) {
			margin: 10px;
		}

		@include mq($from: wide) {
			margin: 10px;
		}

		&.add-vertical-padding {
			@include mq($until: tablet) {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

.img-parcours {

	position:relative;

	background-repeat:no-repeat;
	background-position: center top;
	background-size: 100% auto;
	
	width:100%;
	height:100%;

	@include mq($from: mobileLandscape, $until: tablet) {

		height:50%;

    }

    @include mq($from: mobile, $until: mobileLandscape) {

		height:40%;

    }

    @include mq($until: mobile) {

		height:20%;

    }

}


.mmi{

	color:#1f8638;

}

.erasmus {

	color:#835422;

}

.ducci {

	color:#769142;

}

.cim {

	color:#96bfd1;

}

.stage{

	display:inline;

}

.img-dut {

	max-width: 110px;
	max-height: 87px;

	background-image: url(../images/parcours/dut.png);
}

.img-erasmus {

	max-width: 112px;
	max-height: 83px;

	background-image: url(../images/parcours/erasmus.png);

}

.img-ducci {

	max-width: 89px;
	max-height: 86px;

	background-image: url(../images/parcours/ducci.png);

}

.img-cim {

	max-width: 89px;
	max-height: 84px;

	background-image: url(../images/parcours/cim.png);

}